.container {
    height: 100vh;
    width: 100vw;
    position: relative;

    @media(max-width: 980px) {
        height: unset;
        width: unset;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

.thread-container {
    transition: all ease-in-out 200ms;
    z-index: 1;
}

.thread-container.hidden {
    width: 0;
    opacity: 0;
    transition: all ease-in-out 200ms;
}

.menu-container {
    transition: all ease-in-out 200ms;
}

.menu-container.hidden {
    width: 0;
    opacity: 0;

    transition: all ease-in-out 200ms;
}

.background-color {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.2);
}


.headline-logo-till-w110px {
    @media(max-width: 1110px) {
        display: none !important;
    }
}

.headline-logo-under-w1110px {
    display: none !important;

    @media(max-width: 1110px) {
        display: flex !important;
        font-size: 28px !important;
    }

    @media(max-width: 440px) {
        font-size: 24px !important;
    }

    @media(max-width: 353px) {
        font-size: 20px !important;
    }
}


.headline {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 980px) {
        height: 75px;
    }

    span {
        position: relative;
        padding: 0px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        font-size: 32px;
        font-weight: 700;
        transition: color 200ms ease-out;


        @media(max-width: 980px) {
            padding: 0px 16px;
        }

        @media(max-width: 390px) {
            gap: 8px;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    :first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        :nth-child(2) {
            font-size: 24px;
            font-weight: 800;
        }
    }

    :last-child {

        @media(max-width: 1200px) {
            p {
                display: none;
            }
        }
    }
}

.logged-in-user-img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    object-fit: cover
}

.hide-under-980px {
    display: unset;

    @media(max-width: 980px) {
        display: none;
    }

}

.headline-span-input {
    width: 50%;
    position: relative;

    @media(max-width: 1400px) {
        width: 40%;
    }

    @media(max-width: 980px) {
        display: none !important;
    }
}

.hover-img {
    cursor: pointer;

    &:hover {
        :last-child {
            filter: invert(54%) sepia(48%) saturate(4557%) hue-rotate(215deg) brightness(102%) contrast(91%);
        }
    }

    p:hover {
        color: #535AF1;
    }
}

.content-container {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    padding: 0px 25px;
    gap: 25px;

    @media(max-width: 980px) {
        padding: 0px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 100px;
        height: unset;

    }
}

.chat {
    height: calc(100vh - 130px);
    width: 100%;
    background-color: white;
    border-radius: 30px;
    position: relative;

    @media(max-width: 980px) {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        border-radius: 30px 30px 0px 0px;
    }
}

.chat-content {
    height: calc(100vh - 400px);
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-content-private {
    height: calc(100vh - 420px);
    overflow-y: auto;
    overflow-x: hidden;

    
    @media(max-width: 980px) {
        height: calc(100vh - 440px);
    }
}

.descriptionPrivateChat {
    font-weight: 400;
    font-size: 20px;
    color: grey;
    
    @media(max-width: 980px) {
     font-size: 18px;
    }
}

.colorblue {
    color: #535AF1;
}

.imgHeadline {
    width: 65px !important;
    height: 65px;
    border-radius: 100px;
    object-fit: cover;

    @media(max-width: 980px) {
        width: 50px !important;
        height: 50px;
    }
}

.add-channel {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-size: 18px;
    font-weight: 400;
}


.channels-content {

    div {
        display: flex;
        justify-content: space-between;
        height: 40px;
        padding-bottom: 25px;
        align-items: center;


        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            p {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }

    ul {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        max-height: 220px;
        padding: 8px 0px;


        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 35px;
            border-radius: 30px;
            background: #ECEEFE;
            color: #535AF1;
            font-size: 18px;
            font-weight: 700;
            padding: 8px 4px;


            img {
                width: 20px;
                height: 20px;
                padding-right: 10px;
            }
        }
    }
}

.gap10 {
    gap: 5px !important;
}


.chat-headline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 6px 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @media(max-width: 980px) {
        height: 50px;
    }
}

.headline-left-span {
    gap: 10px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    border-radius: 30px;
    transition: background-color 200ms ease-out, color 200ms ease-out;

    @media(max-width: 440px) {
        font-size: 18px;
    }

    img {
        width: 28px;
    }

    &:hover {
        cursor: pointer;
        background: #ECEEFE;
        color: #535AF1;


        img {
            filter: invert(30%) sepia(68%) saturate(4080%) hue-rotate(232deg) brightness(100%) contrast(89%);
        }

    }
}

.headline-right-span {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media(max-width: 980px) {
        justify-content: flex-end;
        width: unset;

        p {
            display: none;
        }
    }

    img {
        width: 40px;
        height: 40px;
        margin-left: -25px;
        border: 3px solid white;
        border-radius: 30px;
    }

    p {
        font-size: 20px;
        font-weight: 600;
        cursor: context-menu;

    }
}

.headline-right-span-contacts {
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 200ms ease-out;

    &:hover {
        background-color: #ECEEFE !important;
        border-radius: 30px;
    }

    @media(max-width: 980px) {
        display: none;
    }
}

.headline-add-button {
    padding: 8px;
    margin-left: unset !important;
    display: unset !important;
    width: 24px !important;
    height: 24px !important;
    background-color: white !important;
    transition: background-color 200ms ease-out;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE !important;
    }
}

.start-chat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 0px 20px;

    h2 {
        padding: 4px 0px;
    }

    @media(max-width: 980px) {
        text-align: center;

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }

    }
}

.headline-message-time {
    font-size: 14px;
    color: #686868;

}

.answers-message-history {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #535AF1;
    gap: 16px;


    div:hover {
        cursor: pointer;
        font-weight: 600;
        color: #535AF1;
        transform: scale(1.1);
    }

    span {
        font-size: 14px;
        color: #686868;

        @media(max-width: 440px) {
            font-size: 12px;
        }
    }

    @media(max-width: 440px) {
        font-size: 16px;
    }

    @media(max-width: 370px) {
        flex-direction: column-reverse;
    }
}

.my-answers-message-history {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #535AF1;
    justify-content: flex-end;
    gap: 16px;

    :first-child:hover {
        cursor: pointer;
        font-weight: 600;
        color: #535AF1;
        transform: scale(1.1);
    }

    :last-child {
        font-size: 14px;
        color: #686868;
    }

    @media(max-width: 370px) {
        flex-direction: column-reverse;
    }
}

.popUp-div {
    position: absolute;
    left: -230px;
    top: -30px;

    @media(max-width: 1220px) {
        left: -10px;
    }
}

.editComment-div {
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;

    div {
        display: flex;
    }

    img {
        padding: 8px;
        max-width: 300px;
        max-height: 200px;
    }

    button {
        border-style: none;
        border-radius: 30px;
        background-color: #ECEEFE;
        width: 25px;
        height: 25px;
        margin-top: 8px;
        cursor: pointer;
        transition: background-color ease-in-out 200ms, color ease-in-out 200ms;

        &:hover {
            background-color: #ADB0D9;
            color: white;
        }

    }
}

.editCommentInputfield {
    outline: none;
    background-color: #ECEEFE;
    border: 1px solid #ADB0D9;
    border-radius: 30px;
    padding: 8px;
    width: 900px;

    @media(max-width: 1820px) {
        width: 700px;
    }

    @media(max-width: 1530px) {
        width: 500px;
    }

    @media(max-width: 1240px) {
        width: 300px;
    }
}

.error-message {
    color: #ECEEFE;
    font-weight: 700;
    width: 90%;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    button {
        cursor: pointer;
        width: 90px;
        height: 30px;
        font-size: 13px;
        border: none;
        border-radius: 25px;
        background-color: #ECEEFE;
        color: black;
        padding: 8px;
        transition: background-color ease-in-out 200ms, color ease-in-out 200ms;

        &:hover {
            background-color: #ADB0D9;
            color: white;
        }
    }
}

.reactions-container {
    position: relative;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 8px 0px;

    span {
        cursor: pointer;
    }

    img {
        object-fit: contain;
    }
}

.my-reactions-container {
    position: relative;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 8px 0px;


    span {
        cursor: pointer;
    }

    img {
        object-fit: contain;
    }
}

.reactions {
    position: relative;
    display: flex;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 5px 10px;
    gap: 8px;
    width: 50px;
    height: 24px;
    transition: background-color 200ms ease-out, color 200ms ease-out;

    &:hover {
        background-color: #535AF1;
        color: white;
    }
}

.add-reaction {
    height: 100%;
    display: flex;
    transition: filter 200ms ease-out;

    &:hover {
        filter: invert(30%) sepia(68%) saturate(4080%) hue-rotate(232deg) brightness(100%) contrast(89%);
    }
}

.chat-message-inputfield {
    position: absolute;
    bottom: 8px;
    left: 16px;
    right: 16px;
    background-color: white;
    border: 1px solid #ADB0D9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.newImg-div {
    display: flex;

    img {
        padding: 16px;
        max-width: 250px;
        max-height: 135px;
        object-fit: cover;
    }

    button {
        border-style: none;
        border-radius: 30px;
        background-color: #ECEEFE;
        width: 25px;
        height: 25px;
        margin-top: 8px;
        cursor: pointer;
        transition: background-color ease-in-out 200ms, color ease-in-out 200ms;

        &:hover {
            background-color: #ADB0D9;
            color: white;
        }
    }
}

.workspace-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 270deg;
    font-size: 20px;
    font-weight: 500;
    width: 350px;
    position: absolute;
    background-color: white;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 70%;
    left: -155px;
    z-index: 2;
    box-shadow: 4px 4px 7px #0003;
    cursor: pointer;

    @media(max-width: 1110px) {
        display: none;
    }

    img {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: rgb(240, 240, 240);
    }
}

.emoji-myChat {
    position: absolute;
    left: 0%;
    top: 0%;
}

app-popup-reactions {
    position: absolute;
    bottom: 40px;
    left: 25px;
}

app-headline-input-search{
    width: 100%;
}