@import "../colors.scss";
@import "../mixins.scss";

@media only screen and (max-width: 1100px) {
  #profile-edit-card {
    padding: 4rem 2rem !important;
  }

  .profile-edit-card-header {
    width: 35.8rem !important;
  }

  mat-card-content {
    width: 35.8rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .profile-edit-card-header {
    width: 30rem !important;
  }

  mat-card-content {
    width: 30rem !important;
  }
}

@media only screen and (max-width: 430px) {
  .profile-edit-card-header {
    width: 25rem !important;
  }

  mat-card-content {
    width: 25rem !important;
  }
}

::ng-deep .mat-mdc-dialog-container,
::ng-deep .mdc-dialog__surface {
  border-radius: 3rem !important;
}

.mat-mdc-card-header {
  padding: 0;
}

#profile-edit-card {
  padding: 4rem;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
  overflow: hidden !important;

  .profile-edit-card-header {
    width: 42rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    mat-card-title {
      @include fonts-styles(2.4rem, 700);
      line-height: normal;
    }

    mat-icon {
      width: 4rem;
      height: 4rem;
      padding: 0.8rem;
      cursor: pointer;

      &:hover {
        color: $purple-3;
        border-radius: 20px;
        background: $bg-color;
      }
    }
  }

  mat-card-content {
    width: 42rem;

    .content-img {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 4.5rem;
      }
    }

    .content-user-info {
      width: 100%;

      .user-info {
        width: 100%;

        .user-full-name {
          gap: 0.7rem;
        }

        .user-email {
          gap: 0.7rem;
          margin-top: 1.6rem;
        }
      }
    }

    .user-full-name-header,
    .user-email-header {
      display: flex;
      align-items: center;
      gap: 2rem;

      mat-icon {
        color: $purple-3;
        width: 3rem;
        height: 3rem;
        @include flex-center();
      }

      p {
        @include fonts-styles(2rem, 700);
        line-height: normal;
      }
    }
  }

  mat-card-actions {
    width: 100%;
    @include flex-center();

    button {
      border-radius: 50px;
      background: $purple-1;
      display: flex;
      padding: 12px 25px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      color: $white;
      @include fonts-styles(1.8rem, 700);
      line-height: normal;

      mat-icon {
        color: $white;
      }
    }
  }

  mat-card-actions {
    gap: 3.2rem;

    .abort {
      border-radius: 5rem;
      border: 1px solid $purple-2;
      background-color: $white;

      color: $purple-1;
      text-align: center;
      @include fonts-styles(1.8rem, 700);
      line-height: normal;
    }
  }
}
