@import "./../../../colors.scss";
@import "./../../../mixins.scss";

.main {
    height: 100vh;
    width: 100%;
    @include flex-direction-column;
    justify-content: center !important;
    align-items: center;
    gap: 2rem;
}

.reset-pw-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    .input-container {
        @include flex-direction-column;
        gap: 2rem;
    }
}

.error {
    color: red;
}

.card-container {
    width: 37rem;
    height: 45rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1.875rem;
    background: #ffffff;
    box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.08);
    display: flex;

    .arrow-back {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 3rem;
        top: 3rem;
    }

    .card-header {
        @include flex-direction-column
    }

    span {
        @include fonts-styles(20px, normal);
        color: $text-gray;
    }

    p {
        @include fonts-styles(17px, normal);
    }

    h1 {
        @include fonts-styles(32px, bold)
    }

    button {
        border: unset;
        width: 14.7rem;
        padding: 1.2rem 2.5rem;
        border-radius: 2.5rem;
        background-color: $text-gray;
        color: #ffffff;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 1rem;
    }
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1rem;

    button {
        border: unset;
        width: 15.7rem;
        padding: 1.2rem 2.5rem;
        border-radius: 2.5rem;
        background-color: $text-gray;
        color: #ffffff;
        display: flex;
        justify-content: center;
    }
}