
<app-searchbar></app-searchbar>

<div style="margin-bottom: 3rem;"></div>

<div *ngFor="let message of messages; let i = index;">
  <app-message [message]="message"></app-message>
</div>

<div style="margin-bottom: 3rem;"></div>

<app-message-input></app-message-input>

<div class="for-testing">
  <button
    (click)="openDialog()"
    class="add-user-btn"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    matTooltip="User - Edit user"
    [matTooltipPosition]="'above'"
  >
    <mat-icon>add</mat-icon>
  </button>

  <button
    (click)="openChannelDialog()"
    class="add-user-btn btn-left"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    matTooltip="Channel edit"
    [matTooltipPosition]="'above'"
  >
    <mat-icon>add</mat-icon>
  </button>

  <button
  (click)="openCreateChannel()"
  class="add-user-btn btn-middle"
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
  matTooltip="Channel edit"
  [matTooltipPosition]="'above'"
>
  <mat-icon>add</mat-icon>
</button>
</div>
