.message-field {
    background-color: white;
    resize: none;
    border: none;
    width: 100%;
    height: 4rem;

    &:focus {
        border: none;
        outline: none;
    }
    
    &::placeholder {
        color: rgba(0,0,0,0.3);
    }
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.inputComp {
    min-width: 15rem;
    max-width: 100%;
    height: fit-content;
    padding: 1.5rem;
    border: 0.1rem solid rgba(178,181,219,0.8);
    border-radius: 2rem;
    background-color: white;

    .input-btn {
        background-color: transparent;
        color: black;
        box-shadow: none;
        border-radius: 0;
        margin: 0.2rem;    
    }

    .send {
        color: rgba(68,77,242,1);
    }

    .add {
        border-right: 0.1rem solid rgba(178,181,219,0.8);
    }

}