<div class="inputComp">
  <textarea class="message-field" matInput placeholder="{{ placeholder }}"></textarea>
  <div>
    <div class="flex between">
      <div>
        <button mat-mini-fab class="input-btn add">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab class="input-btn">
          <mat-icon>sentiment_satisfied</mat-icon>
        </button>
        <button mat-mini-fab class="input-btn">
          <mat-icon>alternate_email</mat-icon>
        </button>
      </div>
      <button mat-mini-fab class="input-btn send">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>