@import "./../../../colors.scss";
@import "./../../../mixins.scss";

.sign-up-header {
  width: 20.4rem;
  height: 5.6rem;
  display: flex;
  align-items: center;

  .sign-up-header-logo-image {
    width: 100%;
  }
}
