<div id="animationContainer" [class.bg-transparent]="removeBackground" class="bg-gradient">
</div>

<div *ngIf="!animationCompleted" class="logo-wrapper" [class.animate-logo]="moveLogo">
    <div class="logo-img">
        <img src="./../../assets/img/logo.svg" alt="logo of dabubble">
    </div>
    <div class="logo-name">
        <img [class.invert]="changeLogoColor" src="./../../assets/img/logo-name.svg" alt="logoname of dabubble">
    </div>
</div>

<div class="main">
    <div class="login-container ">
        <ng-container *ngIf="animationCompleted">
            <app-logo-middle></app-logo-middle>
        </ng-container>
        <div class="card-container">
            <mat-card class="card-content">
                <h1 class="purple">Anmeldung</h1>
                <span class="text-center">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
                    verwendest.</span>

                <form class="login-form d-flex flex-column align-center" action="">
                    <app-input placeholder="beispielname@email.com" inputType="email"
                        img="../../assets/img/mail.svg"></app-input>

                    <app-input placeholder="Passwort" img="../../assets/img/lock.svg" inputType="password">
                    </app-input>

                    <span class="action-forgot-pw text-center purple2" routerLink="/send-mail-pw">Passwort vergessen</span>

                    <div class="form-btn-container">
                        <button>Anmelden</button>
                        <button>Gäste-Login</button>
                    </div>
                </form>
            </mat-card>
        </div>
        <div class="go-2-registration">
            <p class="text-center">Neu bei DABubble?</p>
            <button routerLink="/sign-up">Konto erstellen</button>
        </div>
    </div>
</div>