@import "../colors.scss";
@import "../mixins.scss";

body {
    height: unset !important;
    background-color: white !important;
}

.main {
    height: 100vh;
    width: 100%;
    @include flexbox(flex, unset, center, center);
}

h1 {

    &:hover {
        cursor: pointer;
    }

    &.color-effect {
        &:hover {
            color: $purple-2;
        }
    }
}

.workspace-wrapper {
    background-color: white !important;
    height: calc(100vh - 8rem);
    overflow: hidden;
    gap: 2rem;
    @include flexbox(flex, column, unset, stretch);
    flex-basis: 26rem;
    flex-grow: 0.5;
    flex-shrink: 0.5;
    align-self: center;
    padding: 0 1.5rem 0 1.5rem;
}

.drawer-container {
    width: 100%;

    &.scroll {
        overflow: scroll;
    }

    .drawer {
        width: 100%;
        gap: 3rem;
        display: grid;

        &.fixed {
            position: fixed;
        }
    }

    .drawer-header {
        margin-top: 1.5rem;
        position: relative;
        @include flexbox(flex, unset, unset, center);
        gap: 2rem;
        width: 100%;

        &:nth-of-type(2n) {
            position: fixed;
        }

        img {
            &.rotate {
                transform: rotate(-90deg);
            }

            &.invert {
                &:hover {
                    fill: $purple-2;
                }
            }
        }

        span {
            @include flexbox(flex, unset, unset, center);
            gap: 1.5rem;
        }

        button {
            @include flexbox(flex, unset, unset, center);
            position: absolute;
            right: 0;
            border-radius: 50%;
            padding: 1rem;
            background: transparent;
            transition: all 225ms ease;

            &:hover {
                background: $bg-color;
            }
        }
    }
}

.dm-list-container {
    margin-top: 4rem;
}



.btn-create-channel {
    @include flexbox(flex, unset, unset, center);
    gap: 1.5rem;
    margin-left: 2.2rem;
    background: transparent;

    a {
        @include fonts-styles(17px, 400);
        color: black;

        &.link-create {
            color: $purple-3;
        }
    }
}

.btn-show-workspace {
    display: none;
    position: relative;

    button {
        @media only screen and (min-width: 1100px) {
            display: block;
            position: absolute;
            left: 0;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    }

}