$welcome-screen-gradient: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
$box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.08);

$bg-color: #eceefe;
$white: #ffffff;
$black: #000000;
$light-purple-lines: #adb0d9;
$purple-1: #444df2;
$purple-2: #797ef3;
$purple-3: #535af1;
$text-gray: #686868;
$online-green: #92c83e;
$profile-email-blue: #1381ff;
$rosa-error: #ed1e79;
$rosa-error-hover: #fd1077;
$menu-color: #42526e;
