<div id="impressum-main-container">
  <div class="impressum-container">
    <app-logo></app-logo>

    <mat-card class="impressum-content">
      <img
        routerLink=""
        class="impressum-img"
        src="../../assets/img/arrow_back.svg"
        alt="Arrow back img"
      />
      <h2>Impressum</h2>
      <p>[Student Name List]</p>
      <p>[Address of DaBubble operator - eg. one of the Student]</p>
      <p>[Post and City]</p>

      <br />
      <br />

      <h3>Contact</h3>
      <p>Email: [Dein Email]</p>
    </mat-card>
  </div>
</div>
