@import "app/colors.scss";
@import "app/mixins.scss";

$font-family-nunito: Nunito;
$font-family-figtree: Figtree;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: $bg-color;
  font-family: $font-family-nunito;
  color: $black;
  position: relative;
}

img,
button {
  cursor: pointer;
}

input {
  border: unset;
  outline: none;
}

a {
  text-decoration: none;
}
