@import "app/colors.scss";
@import "app/mixins.scss";

$font-family-nunito: Nunito;
$font-family-figtree: Figtree;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: $bg-color;
  font-family: $font-family-nunito;
  color: $black;
  position: relative;
}

img,
button {
  cursor: pointer;
}

input,
button {
  border: unset;
  outline: none;
}

a {
  text-decoration: none;
}
// ############# General stylings ############# 
.purple {
  color: $purple-1;
  font-weight: bold;
}

.purple2 {
  color: $purple-2;
}

.text-center {
  text-align: center;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
  // border: 1px solid #cacaca;
  // box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $text-gray;
}