@import "./../../../colors.scss";
@import "./../../../mixins.scss";

body {
    height: unset !important;
    background-color: white !important;
}

.main {
    height: 100vh;
    width: 100%;
    @include flexbox(flex, unset, center, center); // must be styled in dashboard eventually
    position: relative;
}

h2 {

    &:hover {
        cursor: pointer;
    }

    &.color-effect {
        &:hover {
            color: $purple-2;
        }
    }
}

.workspace-wrapper {
    position: relative;
    background-color: white !important;
    height: calc(100vh - 8rem);
    overflow: hidden;
    gap: 2rem;
    @include flexbox(flex, column, unset, stretch);
    flex-basis: 26rem;
    flex-grow: 0.5;
    flex-shrink: 0.5;
    align-self: center;
    padding: 2rem 2rem 2rem 6rem; // this is for desktop
    &.show {
        animation: slide-out 225ms forwards;
    }

    &.hide {
        animation: slide-in 225ms forwards;
    }
    @media only screen and (min-width: 960px) {
        border-radius: 30px;
        max-width: 50rem;
    }
}

.drawer-container {
    width: 100%;

    &.scroll {
        overflow: scroll;
        overflow-x: hidden;
    }

    .drawer {
        width: 100%;
        gap: 3rem;
        display: grid;

        &.fixed {
            position: fixed;
            background-color: white;
            min-width: 24rem;
            width: unset;
        }
    }

    .drawer-header {
        margin-top: 1.5rem;
        position: relative;
        @include flexbox(flex, unset, unset, center);
        gap: 2rem;
        width: 100%;

        &:nth-of-type(2n) {
            position: fixed;
        }

        img {
            &.rotate {
                transform: rotate(-90deg);
            }

            &.invert {
                &:hover {
                    fill: $purple-2;
                }
            }
        }

        span {
            @include flexbox(flex, unset, unset, center);
            gap: 1.5rem;
        }

        button {
            @include flexbox(flex, unset, unset, center);
            position: absolute;
            right: 0;
            border-radius: 50%;
            padding: 1rem;
            background: transparent;
            transition: all 225ms ease;

            &:hover {
                background: $bg-color;
            }
        }
    }
}

.dm-list-container {
    margin-top: 6rem;
}

.btn-create-channel {
    @include flexbox(flex, unset, unset, center);
    gap: 1.5rem;
    margin-left: 2.2rem;
    background: transparent;

    a {
        @include fonts-styles(17px, 400);
        color: black;

        &.link-create {
            color: $purple-3;
        }
    }
}

button {
    &.btn-write-dm {
        background-color: $purple-1;
        border-radius: 50%;
        border: unset;
        position: absolute;
        right: 3rem;
        bottom: 3rem;
        @include flexbox(flex, unset, center, center);
        height: 7rem;
        width: 7rem;
        padding: 3.5rem;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20);

        &:active {
            background-color: $purple-2;
        }
    }
}

// // ##kann man das auch anders machen? ##
// .un-fold-workspace {
//     transform: rotate(90deg);
//     position: absolute;
//     bottom: calc(100vh - 58%);
//     left: 0;
//     padding: 14px 23px;
//     @include flexbox(flex, unset, center, center);
//     font-size: 20px;
//     line-height: 24px;
//     gap: 1rem;
//     border-radius: 30px 30px 0px 0;
//     box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.20);
//     background-color: white;

//     div {
//         transform: rotate(-180deg);

//         img {
//             transform: rotate(-90deg);
//         }

//         span {
//             font-size: 18px;

//             &:hover {
//                 color: $purple-2;
//                 // font-weight: bold;
//             }
//         }
//     }
    
//     // @media only screen and (max-width: 959px) {
//     //     display: none;
//     // }

//     @media only screen and (min-width: 960px) {}
// }